:root {
    --primary: rgb(27, 5, 48);
    --secondary: rgb(38, 5, 107);
    --white: #fff;
    --success: rgb(23, 209, 23); }


.container .form-control {
  width: 50%;
  display: block;
  margin: auto;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 5px 9px 1px #ececec;
  line-height: 1.8;
  border-bottom: 1px solid var(--primary);
}

.container .form-control h3 {
  color: #0b2f44;
  font-size: 1.5rem;
}

.container .form-control input[type="text"],
.container .form-control input[type="password"] {
  width: 90%;
  padding: 1rem 0.4rem;
  margin: 0.75rem 0rem;
  border: 2px solid rgb(238, 238, 238);
}

.container .form-control label[for="role"] {
  color: var(--primary);
  font-size: 0.8rem;
}

.container .form-control label[for="html"] {
  font-size: 0.8rem;
}

.container .form-control button {
  padding: 0.6rem;
  border: none;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
}

button {
    padding: .4rem;
    border: none;
    background: var(--secondary);
    color: var(--white);
    cursor: pointer;
    width : auto;
   }

.profile-avatar {
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(49, 16, 81, 0.429);
}

.profile-avatar >  img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-right: 12px;
  object-fit:cover;
}

label {
  font-size: 10px;
  margin-left: 5px;
}