.App {
    width: 90%;
    display: flex;
    justify-content:space-between;
    margin:auto;
}

main {
  width : 48%;
}


h3 {
  color: rgb(17 , 8  43);
}

ul {
    padding : 0;
}

li {
    padding: 1rem;
    list-style: none;
}

.container {
    width: 50%;
    display: block;
    margin: auto;
    padding: 1rem 0; 
}

input[type="file"] {
    background : rgb(237, 237, 237);
    height : 100px;
    width : 100px;
    border-radius: 50%;
    position : absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
 }


.btn-outline {
    border: 1px solid darkblue;
    outline: none;
    background : transparent;
    padding: .75rem;
    color : rgb(17 , 1, 43);
    margin: .35rem; 
    border-radius: 50px;
}

.btn-dark {
    border: none;
    outline: none;
    padding: .75rem;
    background: rgb(17, 1, 43);
    margin: .35rem;
    background: rgb(17, 1, 43);
    border-radius: 50px;
}

.btn-dark:hover,
.btn-outline:hover {
    box-shadow: 0px 0px 10px rgba(30, 3, 73, 0.26);
}


.card {
    background-color: #fff;
    height : auto;
    border-radius: 5px;
}

.loader {
    animation : spin .5s ease-out infinite;
}

@keyframes spin {
    from {
        transform:  rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}



