@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  margin: 0;
  font-family: 'Poppins' , sans-serif;
background: rgb(243 248 254);
line-height: 1.4;
}

a {
  text-decoration: none;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


